.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.synopsis {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.more-info {
    margin-top: 30px;
    text-align: center;
}
  